@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes petal-open {
  from {
    opacity: 0;
    transform: scale(0) translate(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(var(--tx), var(--ty));
  }
}
.animate-petal-open {
  animation: petal-open 0.3s ease-out forwards;
}